@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
}

html.light {
  --background: #ffffff;
  --foreground: #000;
}

html.dark {
  --background: #000;
  --foreground: #ededed;
}

body {
  background: var(--background);
  font-family: "Times New Roman", Times, serif;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}
