@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Satisfy&family=Sacramento&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
}

html.light {
  --background: #ffffff;
  --foreground: #000;
}

html.dark {
  --background: #000;
  --foreground: #ededed;
}

body {
  background: var(--background);
  font-family: "Times New Roman", Times, serif;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}

@media (max-width: 1024px) and (min-width: 991px) {
  .submenu-container {
    width: 600px;
  }
  .submenu-container h2 {
    font-size: 1.75rem;
  }
}

body.cookie-banner-visible {
  padding-bottom: 120px; /* Adjust to match banner height */
}

/* CSS */
.cookie-btn {
  max-width: 90%; /* Prevent overflow */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Ultra small devices (<375px) */
@media (max-width: 374px) {
  .cookie-btn {
    font-size: 0.7rem;
    padding: 0.6rem 1rem;
    display: none;
  }
}

li {
  margin-bottom: 8px;
}

/* Common scrollbar base */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #9ca3af transparent; /* fallback gray */
}

/* Chrome, Safari, Edge */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #facc15; /* yellow-400 */
}

.light .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1f2937; /* gray-800 */
}

/* Hide scrollbars inside dropdown submenu only on desktop */
.submenu-container {
  scrollbar-width: none; /* Firefox */
}

.submenu-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.mobile-drawer {
  -webkit-overflow-scrolling: touch;
}
