@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Satisfy&family=Sacramento&display=swap');


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
}

html.light {
  --background: #ffffff;
  --foreground: #000;
}

html.dark {
  --background: #000;
  --foreground: #ededed;
}

body {
  background: var(--background);
  font-family: "Times New Roman", Times, serif;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .submenu-container {
    width: 600px;
  }
  .submenu-container h2 {
    font-size: 1.75rem;
  }
}

/* For Chrome, Safari, Edge */
html::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE/Edge (old) */
html {
  -ms-overflow-style: none;
}
